# Pandas Examples

Importing our libraries

In [1]:
import pandas as pd
import os

### Getting current working Directory

In [3]:
cwd = os.getcwd()
print(cwd)

c:\Users\Jordin\Documents\Python

Setting the filepath / selecting our file

In [4]:
filepath = cwd + '/simple_csv.csv'

### Importing a file

In [5]:
first_import = pd.read_csv(filepath, nrows=10)
first_import

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719
6  0.192540  0.409874  0.875082
7  0.380921  0.045468  0.515859
8  0.592471  0.786421  0.047249
9  0.072112  0.695694  0.409573

## Handling Columns
### Selecting a column

In [6]:
first_import['Column1']

0    0.280925
1    0.719882
2    0.235752
3    0.603366
4    0.039985
5    0.015478
6    0.192540
7    0.380921
8    0.592471
9    0.072112
Name: Column1, dtype: float64

### Adding Columns

In [7]:
first_import['New column'] = 1
first_import['New column 2'] = list(range(10))
first_import['Added Output'] = first_import['New column'] + first_import['New column 2']
first_import

    Column1   Column2   Column3  New column  New column 2  Added Output
0  0.280925  0.910368  0.692982           1             0             1
1  0.719882  0.210024  0.761276           1             1             2
2  0.235752  0.059796  0.154667           1             2             3
3  0.603366  0.485614  0.013345           1             3             4
4  0.039985  0.236359  0.811832           1             4             5
5  0.015478  0.543641  0.112719           1             5             6
6  0.192540  0.409874  0.875082           1             6             7
7  0.380921  0.045468  0.515859           1             7             8
8  0.592471  0.786421  0.047249           1             8             9
9  0.072112  0.695694  0.409573           1             9            10

### Droping Columns

In [8]:
# first_import = first_import.drop(columns='New column') # One Method
# first_import.drop(columns='New column', inplace=True) # Another Method
first_import

    Column1   Column2   Column3  New column  New column 2  Added Output
0  0.280925  0.910368  0.692982           1             0             1
1  0.719882  0.210024  0.761276           1             1             2
2  0.235752  0.059796  0.154667           1             2             3
3  0.603366  0.485614  0.013345           1             3             4
4  0.039985  0.236359  0.811832           1             4             5
5  0.015478  0.543641  0.112719           1             5             6
6  0.192540  0.409874  0.875082           1             6             7
7  0.380921  0.045468  0.515859           1             7             8
8  0.592471  0.786421  0.047249           1             8             9
9  0.072112  0.695694  0.409573           1             9            10

## Handling Rows
loc Method - Utilizes Names of columns (Disadvantage is that names take longer to write out)
    
Also note the strange inclusive indexing

In [9]:
first_import.loc[0:5, ['Column1','Column2','Column3','New column 2','Added Output']] # You could drop that zero

    Column1   Column2   Column3  New column 2  Added Output
0  0.280925  0.910368  0.692982             0             1
1  0.719882  0.210024  0.761276             1             2
2  0.235752  0.059796  0.154667             2             3
3  0.603366  0.485614  0.013345             3             4
4  0.039985  0.236359  0.811832             4             5
5  0.015478  0.543641  0.112719             5             6

iloc Method - Utilizes Index of columns (Disadvantage is that indices can change)

In [10]:
first_import.iloc[:6, [0,2]]

    Column1   Column3
0  0.280925  0.692982
1  0.719882  0.761276
2  0.235752  0.154667
3  0.603366  0.013345
4  0.039985  0.811832
5  0.015478  0.112719

# Netflix Data

In [11]:
netflix = pd.read_csv(cwd + '/netflix_titles.csv')
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

Summary statistics

In [12]:
netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

Correlation table

In [13]:
netflix.corr()

              release_year
release_year           1.0

Unique values

In [14]:
netflix["type"].unique()

array(['TV Show', 'Movie'], dtype=object)

### Filtering
One Filter

In [15]:
netflix[netflix['country'] == 'Ireland']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1193,s1194,TV Show,"Can't Cope, Won't Cope",NaN,"Seána Kerslake, Nika McGuigan, Sheila Moylette...",Ireland,"May 28, 2020",2018,TV-MA,2 Seasons,"TV Comedies, TV Dramas","In Dublin, friends Aisling and Danielle must c..."
1211,s1212,Movie,Cardboard Gangsters,Mark O'Connor,"John Connors, Fionn Walton, Kierston Wareing, ...",Ireland,"September 15, 2018",2016,TV-MA,92 min,"Dramas, International Movies",A low-level drug dealer decides to move up the...
1484,s1485,Movie,Conor McGregor: Notorious,Gavin Fitzgerald,Conor McGregor,Ireland,"March 21, 2018",2017,R,90 min,"Documentaries, Sports Movies",From making ends meet to lavish rides and fur ...
1609,s1610,Movie,Dare to Be Wild,NaN,NaN,Ireland,"April 1, 2018",2015,TV-PG,100 min,"Dramas, Independent Movies, Romantic Movies",Irish landscape designer Mary Reynolds fights ...
2592,s2593,Movie,Handsome Devil,John Butler,"Fionn O'Shea, Nicholas Galitzine, Andrew Scott...",Ireland,"August 1, 2017",2016,TV-MA,95 min,"Comedies, Dramas, International Movies",A self-described outsider is sent to a rugby-o...
2625,s2626,TV Show,Hardy Bucks,NaN,"Martin Maloney, Owen Colgan, Chris Tordoff, Pe...",Ireland,"January 11, 2019",2018,TV-MA,4 Seasons,TV Comedies,A circle of young men entertain vague ambition...
4392,s4393,Movie,Nails,Dennis Bartok,"Leah McNamara, Shauna Macdonald, Steve Wall, R...",Ireland,"March 10, 2018",2017,TV-MA,85 min,Horror Movies,Recently paralyzed in a devastating car accide...
4999,s5000,TV Show,Puffin Rock,NaN,"Chris O'Dowd, Kate McCafferty, Sally McDaid, G...",Ireland,"August 17, 2016",2016,TV-Y,2 Seasons,Kids' TV,"Life is sweet on beautiful Puffin Rock, where ..."
5124,s5125,TV Show,Rebellion,NaN,"Charlie Murphy, Ruth Bradley, Sarah Greene, Br...",Ireland,"June 27, 2020",2016,TV-MA,1 Season,"International TV Shows, TV Dramas","As World War I rages, three women and their fa..."
6609,s6610,Movie,The Lodgers,Brian O'Malley,"Charlotte Vega, Bill Milner, David Bradley, Eu...",Ireland,"August 23, 2018",2017,R,93 min,"Horror Movies, International Movies",Twin siblings live under a curse in their ance...
7028,s7029,Movie,The Young Offenders,Peter Foott,"Alex Murphy, Chris Walley, Hilary Rose, Domini...",Ireland,"March 9, 2017",2016,TV-MA,83 min,"Comedies, International Movies","Never ones to think things through, two Irish ..."

Multiple Filters

In [16]:
netflix[(netflix['country'] == 'Ireland') & (netflix["rating"] == 'TV-MA')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1193,s1194,TV Show,"Can't Cope, Won't Cope",NaN,"Seána Kerslake, Nika McGuigan, Sheila Moylette...",Ireland,"May 28, 2020",2018,TV-MA,2 Seasons,"TV Comedies, TV Dramas","In Dublin, friends Aisling and Danielle must c..."
1211,s1212,Movie,Cardboard Gangsters,Mark O'Connor,"John Connors, Fionn Walton, Kierston Wareing, ...",Ireland,"September 15, 2018",2016,TV-MA,92 min,"Dramas, International Movies",A low-level drug dealer decides to move up the...
2592,s2593,Movie,Handsome Devil,John Butler,"Fionn O'Shea, Nicholas Galitzine, Andrew Scott...",Ireland,"August 1, 2017",2016,TV-MA,95 min,"Comedies, Dramas, International Movies",A self-described outsider is sent to a rugby-o...
2625,s2626,TV Show,Hardy Bucks,NaN,"Martin Maloney, Owen Colgan, Chris Tordoff, Pe...",Ireland,"January 11, 2019",2018,TV-MA,4 Seasons,TV Comedies,A circle of young men entertain vague ambition...
4392,s4393,Movie,Nails,Dennis Bartok,"Leah McNamara, Shauna Macdonald, Steve Wall, R...",Ireland,"March 10, 2018",2017,TV-MA,85 min,Horror Movies,Recently paralyzed in a devastating car accide...
5124,s5125,TV Show,Rebellion,NaN,"Charlie Murphy, Ruth Bradley, Sarah Greene, Br...",Ireland,"June 27, 2020",2016,TV-MA,1 Season,"International TV Shows, TV Dramas","As World War I rages, three women and their fa..."
7028,s7029,Movie,The Young Offenders,Peter Foott,"Alex Murphy, Chris Walley, Hilary Rose, Domini...",Ireland,"March 9, 2017",2016,TV-MA,83 min,"Comedies, International Movies","Never ones to think things through, two Irish ..."

## Dates
The following attempts to convert dates into a standard YYYY-MM-DD format

In [17]:
netflix['computer_date'] = pd.to_datetime(netflix['date_added'])
netflix['computer_date']

0      2020-08-14
1      2016-12-23
2      2018-12-20
3      2017-11-16
4      2020-01-01
          ...
7782   2020-10-19
7783   2019-03-02
7784   2020-09-25
7785   2020-10-31
7786   2020-03-01
Name: computer_date, Length: 7787, dtype: datetime64[ns]

### Handling NAs
We can simply drop them (note, 10 fewer observations)

In [69]:
netflix['computer_date'].dropna()

0      2020-08-14
1      2016-12-23
2      2018-12-20
3      2017-11-16
4      2020-01-01
          ...
7782   2020-10-19
7783   2019-03-02
7784   2020-09-25
7785   2020-10-31
7786   2020-03-01
Name: computer_date, Length: 7777, dtype: datetime64[ns]

In [66]:
from datetime import datetime as dt

Assumes all NAs as 2020-01-01

In [ ]:
netflix['computer_data'].fillna(dt(2020, 1, 1), inplace=True)

### Splitting Data

In [72]:
netflix[['Date Part 1', 'Date Part 2']] = netflix['date_added'].str.split(', ',expand=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Date Part 2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-12-23,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018-12-20,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017-11-16,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020-01-01,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020-10-19,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,2019-03-02,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,2020-09-25,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,2020-10-31,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,2020-03-01,March 1,2020

### Renaming Columns

In [75]:
# This utilizes a dictionary, where the key is the original name and the value is the new name
netflix.rename(columns={'Date Part 2': 'Year'}, inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-12-23,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018-12-20,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017-11-16,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020-01-01,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020-10-19,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,2019-03-02,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,2020-09-25,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,2020-10-31,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,2020-03-01,March 1,2020

In [78]:
netflix['cast'].fillna(value='no cast', inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-12-23,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018-12-20,December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017-11-16,November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020-01-01,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020-10-19,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,2019-03-02,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,2020-09-25,September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,2020-10-31,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,2020-03-01,March 1,2020

### Lambda Functions
A way of writing a function in one line

Useful for passing a function along many rows

In [79]:
the_adder = lambda x: x + 210101
the_adder(3535)

213636

### Map vs Apply
* Map - useful for passing each element of a column to the function
* Apply - useful for passing an entire row to the lambda function

Just a warning, this shit is kinda complicated

In [82]:
# Map
netflix['Genre_count'] = netflix['listed_in'].map(lambda x: len(x.split(', ')))
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Year,Genre_count
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020,3
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-12-23,December 23,2016,2
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018-12-20,December 20,2018,2
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017-11-16,November 16,2017,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020-01-01,January 1,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020-10-19,October 19,2020,2
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,2019-03-02,March 2,2019,3
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,2020-09-25,September 25,2020,3
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,2020-10-31,October 31,2020,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,2020-03-01,March 1,2020,2

In [85]:
# Apply
netflix['nonsensical_columns'] = netflix.apply(lambda x: len(x['cast'].split(', ')) + len(x['listed_in'].split(', ')), axis = 1)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Year,Genre_count,nonsensical_columns
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020,3,14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-12-23,December 23,2016,2,8
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018-12-20,December 20,2018,2,11
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017-11-16,November 16,2017,3,12
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020-01-01,January 1,2020,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020-10-19,October 19,2020,2,9
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02,2019-03-02,March 2,2019,3,11
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,2020-09-25,September 25,2020,3,4
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,2020-10-31,2020-10-31,October 31,2020,2,4
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,2020-03-01,March 1,2020,2,3

### GroupBy, Aggregation, and Sorting Values
Getting the number of media by country

In [92]:
netflix_movies_by_country = netflix.groupby('country')['show_id'].count().reset_index()
netflix_movies_by_country.sort_values(by='show_id',ascending=False)

                               country  show_id
549                      United States     2555
229                              India      923
462                     United Kingdom      397
291                              Japan      226
394                        South Korea      183
..                                 ...      ...
252  Indonesia, South Korea, Singapore        1
253          Indonesia, United Kingdom        1
254           Indonesia, United States        1
255                       Iran, France        1
680                           Zimbabwe        1

[681 rows x 2 columns]

### Unions and Joins
Unions - Vertical merging / Stacking

In [95]:
second_dataset = pd.read_csv(cwd + '/netflix_titles_second.csv')
new_dataset = pd.concat([netflix, second_dataset])
new_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Year,Genre_count,nonsensical_columns
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020,3.0,14.0
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,2016-12-23,December 23,2016,2.0,8.0
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20,2018-12-20,December 20,2018,2.0,11.0
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16,2017-11-16,November 16,2017,3.0,12.0
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020-01-01,January 1,2020,1.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,s350,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...,NaT,NaT,NaN,NaN,NaN,NaN
350,s351,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...,NaT,NaT,NaN,NaN,NaN,NaN
351,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...,NaT,NaT,NaN,NaN,NaN,NaN
352,s353,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while...",NaT,NaT,NaN,NaN,NaN,NaN
353,s354,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ...",NaT,NaT,NaN,NaN,NaN,NaN

Joins - Horizontal merging / The hard one

In [98]:
# Joined_data = pd.merge(left= , right= , how= , left_on=, right_on=) Standard formula for a join
netflix_merged = pd.merge(left=new_dataset, right=netflix_movies_by_country, how='inner', left_on=['country'], right_on=['country'])
netflix_merged

,show_id_x,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,computer_data,computer_date,Date Part 1,Year,Genre_count,nonsensical_columns,show_id_y
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,2020-08-14,August 14,2020,3.0,14.0,72
1,s209,Movie,A new Capitalism,NaN,no cast,Brazil,"June 12, 2018",2017,TV-14,76 min,"Documentaries, International Movies",Entrepreneurs worldwide explore alternatives t...,2018-06-12,2018-06-12,June 12,2018,2.0,3.0,72
2,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,2020-11-11,2020-11-11,November 11,2020,2.0,4.0,72
3,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,"September 3, 2020",2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,2020-09-03,2020-09-03,September 3,2020,1.0,2.0,72
4,s323,TV Show,Afronta! Facing It!,Juliana Vicente,"Loo Nascimento, Ingrid Silva, Rincon Sapiência...",Brazil,"October 31, 2020",2017,TV-PG,1 Season,"Docuseries, International TV Shows",This docuseries spotlights Afro-Brazilian thin...,2020-10-31,2020-10-31,October 31,2020,2.0,28.0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7618,s7727,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art...",2016-07-01,2016-07-01,July 1,2016,2.0,12.0,1
7619,s7751,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,2018-05-01,2018-05-01,May 1,2018,2.0,7.0,1
7620,s7760,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2018-09-13,2018-09-13,September 13,2018,1.0,8.0,1
7621,s7771,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,2016-03-09,2016-03-09,March 9,2016,3.0,9.0,1
7622,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020-10-19,October 19,2020,2.0,9.0,1

## Pivoting Data / Melting data
### Pivoting
Bringing it from "long" to "wide"

In [20]:
# To explain the function below...
# Make a pivot table from the netflix data where the indices are country, make columns from the types with values from the counts of all our titles.
# Anything not found will be zero (Like if theres no Movies from Croatia) rather than NA
pivot_table = netflix.pivot_table(index='country', columns='type', values='title', aggfunc='count', fill_value=0).reset_index().sort_values(by='Movie',ascending=False)
pivot_table

type                          country  Movie  TV Show
549                     United States   1850      705
229                             India    852       71
462                    United Kingdom    193      204
51                             Canada    118       59
137                             Egypt     89       12
..                                ...    ...      ...
105             China, United Kingdom      0        1
111   Colombia, Mexico, United States      0        2
113           Colombia, United States      0        1
114                           Croatia      0        1
587     United States, France, Canada      0        1

[681 rows x 3 columns]

### Melting
Bringing it from "wide" to "long"

In [18]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [19]:
df.melt(id_vars=['A'], value_vars=['B'],
        var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5